$font-family: Arial, sans-serif;
$primary-color: black;
$secondary-color: white;
$highlight-color: red;
$link-color: white;
$background-grey: grey;
$logo-width: 6cm;
$logo-height: 60px;
$padding: 20px;
$menu-font-size: 25px;
$footer-box-width: calc(33.33% - 20px);
$footer-box-height: 100px;
$footer-padding: 20px;
